<mat-card>
  <div class="vinyl-box">
    <h1>Vinyl Collection</h1>
    <button routerLink="/cadastro" mat-raised-button color="primary">Cadastrar novo som!</button>
    <div class="input-box">
      <mat-form-field>
        <mat-label>Procurar por um disco:</mat-label>
        <input matInput type="text" placeholder="Qual som vai tocar?" (input)="search($event)">
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="vinyls" class="mat-elevation-z8">

    <ng-container matColumnDef="Artista">
      <th mat-header-cell *matHeaderCellDef>Artista</th>
      <td mat-cell *matCellDef="let vinyl"> {{vinyl.artist}} </td>
    </ng-container>

    <ng-container matColumnDef="Título">
      <th mat-header-cell *matHeaderCellDef>Álbum</th>
      <td mat-cell *matCellDef="let vinyl"> {{vinyl.title}} </td>
    </ng-container>

    <ng-container matColumnDef="Ano">
      <th mat-header-cell *matHeaderCellDef>Ano</th>
      <td mat-cell *matCellDef="let vinyl"> {{vinyl.year}} </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let vinyl">
        <button routerLink="/editar/{{vinyl.id}}" mat-raised-button color="primary">Editar</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Excluir">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let vinyl">
        <button mat-stroked-button color="primary" (click)="openDialog(vinyl.id)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</mat-card>
