@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Vinyl Collection por <strong>Willian Gonçalves</strong></p>
<p>Entre em contato:</p>
<p><a href="https://www.linkedin.com/in/williangoncalves25/" target="_blank">LinkedIn</a> | 
    <a href="mailto:santoswil81@gmail.com" target="_blank">Email</a></p>